<div class="bottom-information">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 col-xl-10 col-xl-offset-1">
            <div class="header">
                <h3>Свежие цветы круглый год</h3>
            </div>
            <div class="information">
                <ul>
                    <li>28 видов букетов.</li>
                    <li>4 поры года в сопровождении прекрасных свежих цветов.</li>
                </ul>
                <p>
                    Мы работаем, чтобы вы смогли <b>заказать цветы в Минске</b> быстро и без хлопот. И остались довольны приобретенным букетом. А еще с каждым цветком «У Матвея» дарит покупателям радостные эмоции, восхищение и позитивное настроение.
                </p>
                <p>
                    В преддверии важного события уделите внимание подготовке к нему, а заботу о том, как купить шикарные цветы, оставьте нам. Удобный онлайн-каталог позволяет всего за несколько минут выбрать необходимое количество, их цвет и декор для будущей флористической композиции. При заказе букета, составленного как минимум из 51 цветка, за доставку платить не нужно.
                </p>
                <p>
                    <b>101 цветок с доставкой</b> ─ мечта любой девушки. Но удивительно, что у каждого человека подаренный букет вызывает разные впечатления. Поэтому всегда любопытно узнать, с какими эмоциями были приняты цветы, понравились ли они, запомнились или нет. Искренние отзывы помогают нам становиться лучше и понимать, что нужно вам для того, чтобы украсить радостные моменты жизни.
                </p>
                <p>
                    А вы знаете, как <b>купить 51 цветок</b> по минимальной цене? Следить за скидками и акциями на нашем сайте! Будьте в курсе выгодных предложений и дарите цветы близким еще чаще! Мы также не забываем сообщать о расширении ассортимента и наиболее интересных цветочных новинках.
                </p>
                <p>
                    Красота цветов наполняет жизнь вдохновением, новой энергией и желанием радоваться миру и дарить ему свое тепло. С давних времен эти цветы символизировали возвышенные чувства.
                </p>
            </div>
        </div>
    </div>
</div>