<div class="bottom-information">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 col-xl-10 col-xl-offset-1">
            <div class="information">
                <p>
                    Дарить цветы на праздник ─ давняя и приятная традиция. Эти цветы помогают выразить признательность, теплые чувства и радость, присущие торжественному дню. Красивый букет преображает и повседневную атмосферу. Заказать цветы без повода и подарить их дорогому человеку ─ сильный поступок, который наверняка оценят. Чтобы выбрать подходящий букет, стоит знать основные правила его составления.
                </p>
                <p>
                    Как составляют действительно впечатляющие букеты?
                </p>
                <ul>
                    <li>Флористы в одной композиции используют как бутоны, так и уже раскрывшиеся цветы.</li>
                    <li>Создатели цветочных композиций забывают о спешке и аккуратно подбирают цветы, раскрывая красоту каждого цветка через соседство с другими прекрасными экземплярами.</li>
                </ul>
                <p>
                    А еще цветы в букете должны быть свежими, впечатлять изящной формой и прекрасным ароматом. Именно такие композиции представлены в интернет-магазине «У Матвея».
                </p>
                <p>
                    Четырехлетний опыт доставки цветов в Минске помог нам понять, что нужно клиентам:
                </p>
                <ul>
                    <li>Произвести впечатление. Роскошный букет из 101 или 51 цветов запомнится благодаря своей масштабности и мастерски подобранному цветовому решению.</li>
                    <li>Выразить любовь или благодарность. Милый презент в виде букета из 21 или 31 цветка расскажет о чувствах за вас. </li>
                    <li>Продемонстрировать высокий статус и воспитанный вкус.</li>
                </ul>
                <p>
                    Каждый букет от «У Матвея» ─ это труд не одного десятка человек, которые вместе с вами переживают важные и волнующие жизненные события. Составляя цветочные композиции, мы заботимся о красоте и долговечности. Ведь каждый клиент, заказавший букет с доставкой, желает видеть цветы, будто только принесенные из сада. И «У Матвея» исполняет это желание!
                </p>
            </div>
        </div>
    </div>
</div>