<div class="map-information">
    <div class="container">
        <h3 class="center">Карта сотрудничества с ООО «У Матвея»</h3>
        <div class="information">
            <img class="map-image" src="../../resource/map.png" alt="Карта">
        </div>
        <p>* на карте схематично в виде символа розы отображены города и регионы, в которых представлена продукция ООО «У Матвея».</p>
    </div>
</div>