<div class="bottom-information">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 col-xl-10 col-xl-offset-1">
            <h3 class="center">Вакансии</h3>
            <div class="information">
                <p>
                    В связи с раширением торговой сети в настоящий момент в нашей Компании открыты следующие вакансии:
                </p>
                <ol>
                    <li>Продавец-флорист (продажа роз)</li>
                </ol>
                <span><b>Требования</b></span>
                <ul>
                    <li>женщина</li>
                    <li>возраст 20-40 лет</li>
                    <li>не студент</li>
                    <li>аккуратность, кассовая дисциплина</li>
                    <li>активная жизненная позиция</li>
                    <li>стрессоустойчивость</li>
                </ul>
                <span><b>Мы предлагаем:</b></span>
                <ul>
                    <li>работу в стабильной компании</li>
                    <li>отапливаемое, оборудованное рабочее место</li>
                    <li>дружный коллектив</li>
                    <li>официальное трудоустройство и социальные гарантии</li>
                    <li>достойную оплату труда</li>
                </ul>
                <p><b>Если Вас заинтересовало наше предложение отправьте свое резюме на адрес: <a href="mailto:info@UMatveia.by">info@UMatveia.by</a></b></p>
                <p><b>Мы обязательно свяжемся с Вами.</b></p>
            </div>
        </div>
    </div>
</div>