<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<header>
    <% include ../partials/header.ejs %>
</header>

<div class="container margin-top">
    <div class="header center">
        <h1>О нас</h1>
    </div>
    <div class="header italic center">
        <h3>Наша магазин — лидер по качеству! Присоединяйтесь!</h3>
    </div>
    <p>
        С мая 2013 года ООО «У Матвея» предлагает Вашему вниманию расширенный ассортимент цветом. Мы предлагаем то, что выращиваем сами. За качество отвечаем!
    </p>
    <p>
        К выбору цветов люди часто относятся не слишком внимательно: успею, забегу за букетом по дороге. Чтобы купить цветы в Минске, достаточно пройти пару шагов до ближайшего цветочного магазина. Но чтобы приобрести действительно красивые и свежие цветы, способные радовать взор на протяжении как минимум недели после покупки, нужно подойти к поискам более основательно.
    </p>
    <p>
        Компания «У Матвея» дарит своим покупателям сразу две прекрасные возможности: приобрести букет с доставкой, потратив минимум времени, и составить его из самых лучших цветов. По качеству наши цветы не уступают знаменитым и более дорогостоящим аналогам, привезенным из-за рубежа. И это подтвердили не только довольные клиенты, но и цветоводы-эксперты из Голландии.
    </p>
    <p><b>Почему покупатели очарованы «У Матвея»:</b></p>
    <ul>
        <li>Он знает вкусы каждого старается выполнить любые капризы. В каталоге компании ─ несколько десятков цветоы различных сортов и оттенков. Заказывать цветы можно оптом и в розницу.</li>
        <li>Он всегда там, где ваш праздник. <b>Заказать цветы с доставкой</b> ─ отличная возможность сделать приятный сюрприз или выкроить дополнительное время, чтобы еще лучше подготовиться к важному событию. Мы доставляем цветы в любую точку Минска. Если в букете больше 51 цветка, за доставку платить не нужно!</li>
        <li>Он умеет преподнести цветы неожиданно и изысканно. Удобный онлайн-сервис, помогающий составить нужную цветочную композицию и выбрать ее оформление, экономит ваше время.</li>
        <li>Он готова к критике, которая помогает стать еще лучше. Качество цветов ─ наша главная забота. Если вы <b>заказали цветы</b>, а они не понравились, мы с большим вниманием рассмотрим эту претензию и устраним ее причину.</li>
    </ul>
    <p>
        «У Матвея» ─ это семь лет опыта по выращиванию роз, шесть вариантов оттенков цветов, более двадцати разновидностей букетов и отличные цены. Наша работа связана с красотой и позитивными эмоциями. Частичка радости есть в каждом доставленном букете. Дарите ее своим любимым и близким каждый день, ведь роз не бывает много. Благодаря «У Матвея» свежесрезанные цветы будут в вашем доме зимой и летом.
    </p>
</div>
<% include ../partials/vacanciesInfo.ejs %>
<footer>
    <% include ../partials/footer.ejs %>
</footer>
<script type="text/javascript" src="../js/about.js"></script>
</body>
</html>