<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<header>
    <% include ../partials/header.ejs %>
</header>
<div class="container-fluid margin-top">
    <div class="header">
        <h1>Каталог букетов</h1>
    </div>
    <div id="bouquets"></div>
</div>
<% include ../partials/catalogBottomInfo.ejs %>
<footer>
    <% include ../partials/footer.ejs %>
</footer>
<div id="templates" class="hidden"></div>
<script type="text/javascript" src="../js/catalog.js"></script>
</body>
</html>